{% extends "base.html" %}

{% block body_content %}
<div class="nk-wrap">
    <!-- Header with horizontal navigation -->
    {% include "components/header.html" %}

    <!-- Main Content -->
    <div class="nk-content nk-content-fluid">
        <div class="container-xl wide-xl">
            <div class="nk-content-inner">
                <div class="nk-content-body">
                    {% block page_content %}{% endblock %}
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <div class="nk-footer">
        <div class="container-xl wide-xl">
            <div class="nk-footer-wrap">
                <div class="nk-footer-copyright">
                    &copy; {{ current_year }} Tourcube Guide Portal. All Rights Reserved.
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
