/*!
 * Theme: WT Brown Skin
 * Package: DashLite v3.3.0
 * Updated: 05.21.2025
 * Author: Gilberto
 * Author URI: https://tourcube.net
**/
:root {
  --bs-heading-color: #333333;
  --bs-table-color: #333333;
}

[data-bs-theme=accent-dark] {
  --bs-heading-color: #333333;
  --bs-table-color: #333333;
}

.table th,
.table thead th,
thead.thead-light th {
  color: #333333;
}

.nav-tabs .nav-link,
.nav-tabs .nav-item .nav-link {
  color: #526484;
}
.nav-tabs .nav-link.active, .nav-tabs .nav-link:hover,
.nav-tabs .nav-item .nav-link.active,
.nav-tabs .nav-item .nav-link:hover {
  color: #A97C50;
}

.link-dark,
a.link-dark {
  color: #333333 !important;
}
.link-dark:hover,
a.link-dark:hover {
  color: #A97C50 !important;
}

body,
.card,
.table td {
  color: #333333;
}

.nk-header {
  background: #F5F0E6;
  border-bottom-color: #E0E0E0;
}
.nk-header.bg-white {
  background: #ffffff !important;
}
.nk-header.is-dark:not([class*=bg-]) {
  background: #382E24;
}
.nk-header.is-theme:not([class*=bg-]) {
  background: #44392c;
}

.is-dark .nk-menu-link {
  color: #f8f4ed;
}
.is-dark .nk-menu-icon {
  color: white;
}
.is-dark .nk-menu-badge {
  color: #ccaf93;
  background: #574838;
}
.is-dark .nk-menu-sub .active > .nk-menu-link,
.is-dark .nk-menu-link:hover, .is-dark .active > .nk-menu-link,
.is-dark .nk-menu-link:hover .nk-menu-icon, .is-dark .nk-menu-item.active > .nk-menu-link .nk-menu-icon, .is-dark .nk-menu-item.current-menu > .nk-menu-link .nk-menu-icon {
  color: #bc9670;
}
.is-dark .nk-news-icon .icon {
  color: #A97C50;
}
.is-dark .nk-news-text .icon {
  color: #F5F0E6;
}
.is-dark .nk-news-text p span {
  color: rgba(245, 240, 230, 0.9);
}
.is-dark .user-name, .is-dark .nk-news-text p {
  color: #fcfbf8;
}
.is-dark .nk-quick-nav-icon {
  color: white;
}

.is-theme .nk-menu-link {
  color: #f2ecdf;
}
.is-theme .nk-menu-icon {
  color: #fefdfc;
}
.is-theme .nk-menu-badge {
  color: #dcc9b6;
  background: #635340;
}
.is-theme .nk-news-icon .icon {
  color: #c4a282;
}
.is-theme .nk-news-text .icon, .is-theme .nk-quick-nav-icon, .is-theme .overline-title {
  color: #F5F0E6;
}
.is-theme .nk-news-text p span, .is-theme .nk-menu-heading .overline-title {
  color: rgba(245, 240, 230, 0.8);
}
.is-theme .user-name, .is-theme .nk-news-text p {
  color: #fcfbf8;
}

.card-tools-nav li a:before,
.nav-tabs .nav-link:after,
.progress-bar, .dot-primary,
.alert-fill.alert-primary,
.bg-primary,
.icon-circle,
.noUi-connect,
.nk-kycfm-label::after,
.plan-item-card:after,
.nk-msg-menu-item a:after,
.ui-shady .nk-msg-item.active:after, .ui-shady .nk-msg-item.current:after,
.ui-softy .nk-msg-item.active:after, .ui-softy .nk-msg-item.current:after {
  background: #A97C50;
}

.card-bordered.is-dark {
  border-color: #4A3E30;
}

.card.is-dark {
  background: #4A3E30;
}

.user-avatar, [class^=user-avatar]:not([class*=-group]) {
  background: #bc9670;
}

.nk-news-item:hover .nk-news-text .icon {
  color: #bc9670;
}

.nk-menu-link:hover,
.nk-menu-link:hover .nk-menu-icon,
.nk-menu-item.active > .nk-menu-link .nk-menu-icon,
.nk-menu-item.current-menu > .nk-menu-link .nk-menu-icon,
.nk-menu-link:hover .count,
.nk-menu-sub .nk-menu-link:hover,
.nk-menu-sub .active > .nk-menu-link,
.nk-menu-main .nk-menu-link:hover,
.nk-menu-main .nk-menu-link:focus,
.nk-menu-main .nk-menu-item.active > .nk-menu-link,
.nk-menu-main .nk-menu-item.current-menu > .nk-menu-link,
.nk-menu-main .nk-menu-item:hover > .nk-menu-link,
.is-light .nk-menu-link:hover, .is-light .active > .nk-menu-link,
.active > .nk-menu-link,
.active > .nk-menu-link .count,
.nav-tabs .nav-link:focus,
.nav-tabs .nav-link.active,
.nav-tabs .nav-item.active .nav-link,
.nk-menu-footer .nk-menu-icon,
.nk-menu-footer .nk-menu-link:hover,
.nk-footer-copyright a:hover,
.page-link:hover,
.list-plain a:hover,
.link-check li a:hover,
.link-list a:hover,
.link-list-opt a:hover,
.link-list-plain a:hover,
.link-list-menu li.active > a,
.link-list-menu a.active,
.link-list-menu a:hover,
.link-list-menu li.active > a .icon,
.link-list-menu a.active .icon,
.link-list-menu a:hover .icon,
.link-list-menu li.active > a:after,
.link-list-menu a.active:after,
.link-list-menu a:hover:after,
.list-checked li:before,
.list-step li.list-step-current:before,
.accordion-s2 .accordion-head .title,
.accordion-s3 .accordion-head .title,
.bg-outline-primary,
.badge-dim.bg-primary,
.badge-dot.bg-primary,
.badge-dim.bg-outline-primary,
.alert-primary,
.form-clip,
.form-text-hint,
.search-submit:hover,
.nk-news-icon .icon,
.nk-refwg-name .title,
.nk-iv-wg1-info, .nk-wg4-note span,
.nk-iv-scheme-item .amount-ex,
.nk-kycfm-control:checked ~ .nk-kycfm-label .label-icon,
.attach-item .icon,
.attach-download:hover span,
.nk-reply-meta-info .whom,
.nk-msg-tags li > span .icon,
.nk-msg-menu-item a:hover,
.nk-msg-menu-item.active a,
.user-balance,
.user-avatar[class*=-primary-dim],
.nk-order-ovwg-data.sell .amount,
.nk-order-ovwg-data.sell .title .icon,
.nk-wg-action-content p strong, a,
.dropzone .dz-message-text span,
.nk-switch-icon.active,
.link-list-plain a .icon,
.chat-upload-option a,
.is-unread .chat-context .status,
.add-opt:hover .sub-text, .add-opt:hover .icon,
.icon[class*=bg-primary-dim] {
  color: #A97C50;
}

a:hover {
  color: #333333;
}

.text-primary, .link-primary {
  color: #A97C50 !important;
}

.link-primary:hover, a.text-primary:hover, a.text-primary:focus, .chat-upload-option a:hover {
  color: #333333 !important;
}

.border-primary, .nk-kycfm-control:checked ~ .nk-kycfm-label {
  border-color: #A97C50 !important;
}

.bg-lighter {
  background-color: #F5F0E6 !important;
}

.bg-primary {
  background-color: #A97C50 !important;
}

a.bg-primary:hover, a.bg-primary:focus, button.bg-primary:hover, button.bg-primary:focus {
  background-color: #866340 !important;
}

.bg-primary-dim {
  background-color: #f6f2ee !important;
}

.text-primary-dim {
  color: #f6f2ee !important;
}

.alert-primary, .badge-dim.bg-outline-primary {
  background-color: #f6f2ee;
  border-color: #ddcbb9;
}

.alert-pro.alert-primary, .bg-primary,
.plan-control:checked + .plan-item-card,
.form-control:focus,
.form-control.focus,
.form-file-input:focus ~ .form-file-label,
.custom-control-input:focus:not(:checked) ~ .custom-control-label::before,
.select2-container--default .select2-selection--single:focus,
.select2-container--default.select2-container--focus .select2-selection--multiple {
  border-color: #A97C50;
}

.nk-order-ovwg-data.sell, .bg-outline-primary {
  border-color: #ddcbb9;
}

.dropdown-menu-s1 {
  border-top-color: #A97C50;
}

.nk-iv-wg2-amount.ui-v2 {
  border-bottom-color: #A97C50;
}

.page-item.active .page-link,
.plan-control:checked + .plan-item-card .plan-label,
.custom-control-input:checked ~ .custom-control-label::before,
.custom-control-input:not(:disabled):active ~ .custom-control-label::before {
  background-color: #A97C50;
  border-color: #A97C50;
}

.custom-checkbox .custom-control-input:disabled:checked ~ .custom-control-label::before,
.custom-radio .custom-control-input:disabled:checked ~ .custom-control-label::before,
.custom-switch .custom-control-input:disabled:checked ~ .custom-control-label::before {
  background-color: #cbb096;
}

.badge-dim.bg-primary {
  background-color: #f6f2ee;
  border-color: #f6f2ee;
}

.bg-primary.badge-dot {
  background: transparent !important;
}

.nk-error-head {
  background: -webkit-linear-gradient(#A97C50, #695844);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav-switch .nav-link.active {
  background: #A97C50;
  color: #ffffff;
}

.icon-avatar, .nk-iv-scheme-icon.is-running {
  color: #A97C50;
  background-color: #f2ebe5;
}

.is-dark .nk-wgw-icon {
  background: #ba9673;
}

.is-dark .nk-iv-wg2-title .title {
  color: #F5F0E6;
}

.is-theme .nk-quick-nav-icon:before {
  background-color: #2b241c;
}

.btn-primary {
  background-color: #A97C50;
  border-color: #A97C50;
}
.btn-primary:hover {
  background-color: #9b7249;
  border-color: #946d46;
}
.btn-primary:focus {
  background-color: #9b7249;
  border-color: #946d46;
}
.btn-primary.btn-dim {
  color: #A97C50;
  background-color: #f6f1ec;
  border-color: #f6f1ec;
}

.btn-dim.btn-outline-primary {
  color: #A97C50;
  background-color: #f6f1ec;
  border-color: #ddcbb9;
}
.btn-dim.btn-outline-primary.btn-white {
  background-color: #ffffff;
}

.btn-outline-primary {
  border-color: #A97C50;
  color: #A97C50;
}
.btn-outline-primary:hover {
  background-color: #A97C50;
  border-color: #A97C50;
}

.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  background-color: #9f744b;
  border-color: #9b7249;
}

.btn-primary:focus,
.btn-outline-primary:focus,
.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn-primary.btn-dim:focus,
.btn-primary.btn-dim:not(:disabled):not(.disabled):active,
.btn-primary.btn-dim:not(:disabled):not(.disabled):active:focus,
.btn-dim.btn-outline-primary:focus,
.btn-dim.btn-outline-primary:not(:disabled):not(.disabled):active,
.btn-dim.btn-outline-primary:not(:disabled):not(.disabled):active:focus,
.show > .btn-primary.dropdown-toggle:focus,
.btn-outline-primary:not(:disabled):not(.disabled):active,
.btn-outline-primary:not(:disabled):not(.disabled):active:focus,
.btn-outline-primary:not(:disabled):not(.disabled).active,
.btn-outline-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-primary.dropdown-toggle,
.show > .btn-outline-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(169, 124, 80, 0.2);
}

.btn-outline-light:focus, .btn-outline-light.focus,
.btn-outline-light:not(:disabled):not(.disabled):active:focus,
.btn-outline-light:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-light.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(245, 240, 230, 0.1);
}

.btn-trigger:focus {
  box-shadow: none;
}

.form-control:focus, .form-control.focus,
.custom-control-input:focus ~ .custom-control-label::before,
.form-file-input:focus ~ .form-file-label,
.select2-container--default .select2-selection--single:focus,
.select2-container--default.select2-container--focus .select2-selection--multiple {
  box-shadow: 0 0 0 3px rgba(169, 124, 80, 0.1);
}

.form-control-simple:focus {
  box-shadow: none;
}

.btn-primary.btn-dim:not(:disabled):not(.disabled):hover,
.btn-dim.btn-outline-primary:not(:disabled):not(.disabled):hover,
.btn-outline-primary:not(:disabled):not(.disabled):active,
.btn-outline-primary:not(:disabled):not(.disabled).active,
.show > .btn-outline-primary.dropdown-toggle,
.btn-primary.disabled, .btn-primary:disabled,
.invest-amount-control:checked ~ .invest-amount-label {
  background-color: #A97C50;
  border-color: #A97C50;
}

.form-focus-none:focus {
  border-color: transparent;
  box-shadow: none;
}

@media (min-width: 992px) {
  .nk-menu-main > li > .nk-menu-link:before {
    background: #A97C50;
  }
  .is-theme .nk-menu-main > li > .nk-menu-link {
    color: #F5F0E6;
  }
  .is-theme .nk-menu-main > li > .nk-menu-link.nk-menu-toggle:after {
    color: rgba(245, 240, 230, 0.7);
  }
}
.datepicker table tr td.today, .datepicker table tr td.today:hover, .datepicker table tr td.today.disabled, .datepicker table tr td.today.disabled:hover {
  background-color: #f2ebe5;
  color: #A97C50;
}

.datepicker table tr td.today:hover, .datepicker table tr td.today:hover:hover,
.datepicker table tr td.today.disabled:hover, .datepicker table tr td.today.disabled:hover:hover,
.datepicker table tr td.today:active, .datepicker table tr td.today:hover:active,
.datepicker table tr td.today.disabled:active, .datepicker table tr td.today.disabled:hover:active,
.datepicker table tr td.today.active, .datepicker table tr td.today:hover.active,
.datepicker table tr td.today.disabled.active, .datepicker table tr td.today.disabled:hover.active,
.datepicker table tr td.today.disabled, .datepicker table tr td.today:hover.disabled,
.datepicker table tr td.today.disabled.disabled, .datepicker table tr td.today.disabled:hover.disabled,
.datepicker table tr td.today[disabled], .datepicker table tr td.today:hover[disabled],
.datepicker table tr td.today.disabled[disabled], .datepicker table tr td.today.disabled:hover[disabled] {
  background-color: #dfcfaf;
}

.datepicker table tr td.active:active, .datepicker table tr td.active:hover:active,
.datepicker table tr td.active.disabled:active, .datepicker table tr td.active.disabled:hover:active,
.datepicker table tr td.active.active, .datepicker table tr td.active:hover.active,
.datepicker table tr td.active.disabled.active, .datepicker table tr td.active.disabled:hover.active,
.datepicker table tr td span:hover, .datepicker table tr td span.focused {
  background-color: #A97C50;
}

.code-tag {
  color: blue;
}

.alert-pro {
  background: #ffffff;
  color: #526484;
}

.nk-menu-badge, .nk-menu-main .nk-menu-sub .nk-menu-badge {
  color: #c3a385;
  background-color: #f6f2ee;
}

.is-theme .nk-sidebar-footer, .nk-apps-sidebar.is-theme, .is-theme .nk-sidebar-profile-fixed {
  background: #44392c;
  border-color: #635340;
}

.is-theme .nk-menu-footer .nk-menu-link, .is-theme .sub-text, .is-theme .lead-text span {
  color: #F5F0E6;
}

.nav-switch-s2 .nav-link:hover, .nav-switch-s2 .nav-link:focus {
  color: #526484;
}

.nav-switch-s2 .nav-link.active {
  color: #333333;
}

.active .nk-ibx-menu-text,
.active .nk-ibx-menu-item .icon,
.nk-reply-form-nav li a:hover,
.nk-reply-form-input .toggle-opt:hover {
  color: #A97C50;
}

.nk-ibx-menu li.active {
  background: #f8f5f1;
}

.nk-fmg-menu li.active {
  background: #f8f5f1;
}

.nk-file-name .asterisk .icon, .nk-file-name-text a.title:hover,
.nk-file-link:hover .title, .active .nk-fmg-menu-item .icon, .active .nk-fmg-menu-text {
  color: #A97C50;
}

.nk-files-view-list .nk-file.selected {
  background-color: #E9C096;
}

.chat.is-me .chat-msg {
  background-color: #A97C50;
}

.kanban-add-task {
  color: #A97C50;
}
.kanban-add-task:hover {
  background: #A97C50;
  border-color: #A97C50;
}

.actions ul li a {
  border-color: #A97C50;
  background: #A97C50;
}

.nk-wizard-simple .steps ul li.done h5, .nk-wizard-simple .steps ul li.done .number, .nk-wizard-simple .steps ul li.current h5, .nk-wizard-simple .steps ul li.current .number {
  color: #A97C50;
}

.nk-wizard-simple .steps ul li:after {
  background: #A97C50;
}

.invoice-contact ul .icon, .invoice-desc .title, .invoice-bills .table th {
  color: #A97C50;
}

.product-gallery .slider-nav .slider-item.slick-current .thumb,
.custom-control-pro.no-control .custom-control-input:checked ~ .custom-control-label,
.custom-control-pro.no-control .custom-control-input:not(:disabled):active ~ .custom-control-label,
.custom-control.color-control .custom-control-label:before {
  border-color: #A97C50 !important;
}