{
    "TourcubeAPIKey": [
        {
            "CompanyID": "WT",
            "Test": "REDACTED",
            "Production": "REDACTED",
            "TestURL": "https://test-2.tourcube.net",
            "ProductionURL": "https://test-2.tourcube.net",
            "TestDomains": [],
            "ProductionDomains": [],
            "HTMLHeader": "",
            "HTMLFooter": "",
            "TourcubeOnline": true,
            "TourcubeRootDrive": "c",
            "SkinName": "theme-wt-blue",
            "PWAEnabled": true,
            "OfflineDocumentsEnabled": true,
            "Logo": "wt-horizontal-logo-black-type.png",
            "LoginBackground": "leader-portal-background-01.jpg"
        },
        {
            "CompanyID": "MTS",
            "Test": "REDACTED_TEST_KEY",
            "Production": "REDACTED_PRODUCTION_KEY",
            "TestURL": "https://test-2.tourcube.net",
            "ProductionURL": "https://web2.tourcube.net",
            "TestDomains": [],
            "ProductionDomains": [],
            "HTMLHeader": "",
            "HTMLFooter": "",
            "TourcubeOnline": true,
            "TourcubeRootDrive": "c",
            "SkinName": "theme-mts",
            "PWAEnabled": false,
            "OfflineDocumentsEnabled": false,
            "Logo": "mts-logo.jpg",
            "LoginBackground": ""
        },
        {
            "CompanyID": "INCA",
            "Test": "REDACTED",
            "Production": "REDACTED",
            "TestURL": "https://web2.tourcube.net",
            "ProductionURL": "https://web2.tourcube.net",
            "TestDomains": [],
            "ProductionDomains": [],
            "HTMLHeader": "",
            "HTMLFooter": "",
            "TourcubeOnline": true,
            "TourcubeRootDrive": "c",
            "SkinName": "theme-inca",
            "PWAEnabled": false,
            "OfflineDocumentsEnabled": false,
            "Logo": "inca-logo.svg",
            "LoginBackground": ""
        },
        {
            "CompanyID": "IG",
            "Test": "REDACTED",
            "Production": "REDACTED",
            "TestURL": "https://web2.tourcube.net",
            "ProductionURL": "https://web2.tourcube.net",
            "TestDomains": [],
            "ProductionDomains": [],
            "HTMLHeader": "",
            "HTMLFooter": "",
            "TourcubeOnline": true,
            "TourcubeRootDrive": "c",
            "SkinName": "theme-ig",
            "PWAEnabled": false,
            "OfflineDocumentsEnabled": false,
            "Logo": "ig-logo.png",
            "LoginBackground": ""
        },
        {
            "CompanyID": "SLV",
            "Test": "REDACTED_TEST_KEY",
            "Production": "REDACTED_PRODUCTION_KEY",
            "TestURL": "https://test-2.tourcube.net",
            "ProductionURL": "https://web2.tourcube.net",
            "TestDomains": [],
            "ProductionDomains": [],
            "HTMLHeader": "",
            "HTMLFooter": "",
            "TourcubeOnline": true,
            "TourcubeRootDrive": "c",
            "SkinName": "theme-blue",
            "PWAEnabled": false,
            "OfflineDocumentsEnabled": true,
            "Logo": "slv-logo.png",
            "LoginBackground": ""
        },
        {
            "CompanyID": "ARN",
            "Test": "REDACTED_TEST_KEY",
            "Production": "REDACTED_PRODUCTION_KEY",
            "TestURL": "https://test-2.tourcube.net",
            "ProductionURL": "https://web2.tourcube.net",
            "TestDomains": [],
            "ProductionDomains": [],
            "HTMLHeader": "",
            "HTMLFooter": "",
            "TourcubeOnline": true,
            "TourcubeRootDrive": "c",
            "SkinName": "theme-blue",
            "PWAEnabled": false,
            "OfflineDocumentsEnabled": true,
            "Logo": "arn-logo.png",
            "LoginBackground": ""
        },
        {
            "CompanyID": "EXC",
            "Test": "REDACTED_TEST_KEY",
            "Production": "REDACTED_PRODUCTION_KEY",
            "TestURL": "https://test-2.tourcube.net",
            "ProductionURL": "https://web2.tourcube.net",
            "TestDomains": [],
            "ProductionDomains": [],
            "HTMLHeader": "",
            "HTMLFooter": "",
            "TourcubeOnline": true,
            "TourcubeRootDrive": "c",
            "SkinName": "theme-excursionist",
            "PWAEnabled": false,
            "OfflineDocumentsEnabled": true,
            "Logo": "exc-logo.svg",
            "LoginBackground": ""
        },
        {
            "CompanyID": "BJ",
            "Test": "REDACTED_TEST_KEY",
            "Production": "REDACTED_PRODUCTION_KEY",
            "TestURL": "https://test-2.tourcube.net",
            "ProductionURL": "https://web2.tourcube.net",
            "TestDomains": [],
            "ProductionDomains": [],
            "HTMLHeader": "",
            "HTMLFooter": "",
            "TourcubeOnline": true,
            "TourcubeRootDrive": "c",
            "SkinName": "theme-blue",
            "PWAEnabled": false,
            "OfflineDocumentsEnabled": true,
            "Logo": "bj-logo.jpg",
            "LoginBackground": ""
        },
        {
            "CompanyID": "CTJ",
            "Test": "REDACTED_TEST_KEY",
            "Production": "REDACTED_PRODUCTION_KEY",
            "TestURL": "https://test-2.tourcube.net",
            "ProductionURL": "https://web2.tourcube.net",
            "TestDomains": [],
            "ProductionDomains": [],
            "HTMLHeader": "",
            "HTMLFooter": "",
            "TourcubeOnline": true,
            "TourcubeRootDrive": "c",
            "SkinName": "theme-blue",
            "PWAEnabled": false,
            "OfflineDocumentsEnabled": true,
            "Logo": "ctj-logo.jpg",
            "LoginBackground": ""
        }
    ]
}
