{
    "TourcubeAPIKey": [
        {
            "CompanyID": "WT",
            "Test": "REDACTED",
            "Production": "REDACTED",
            "TestURL": "https://test-2.tourcube.net",
            "ProductionURL": "https://test-2.tourcube.net",
            "TestDomains": [],
            "ProductionDomains": [],
            "HTMLHeader": "",
            "HTMLFooter": "",
            "TourcubeOnline": true,
            "TourcubeRootDrive": "c",
            "SkinName": "theme-wt-blue",
            "PWAEnabled": true,
            "OfflineDocumentsEnabled": true,
            "Logo": "wt-horizontal-logo-black-type.png",
            "LoginBackground": "leader-portal-background-01.jpg"
        },
        {
            "CompanyID": "MTS",
            "Test": "REDACTED",
            "Production": "REDACTED",
            "TestURL": "https://test-2.tourcube.net",
            "ProductionURL": "https://test-2.tourcube.net",
            "TestDomains": [],
            "ProductionDomains": [],
            "HTMLHeader": "",
            "HTMLFooter": "",
            "TourcubeOnline": true,
            "TourcubeRootDrive": "c",
            "SkinName": "",
            "PWAEnabled": false,
            "OfflineDocumentsEnabled": false
        }
    ]
}
